*.nu linguist-language=Nushell

*.yaml linguist-detectable
*.yml linguist-detectable

*tmTheme linguist-detectable

*.json linguist-detectable
*.jsonc linguist-detectable

*.toml linguist-detectable

kitty/*.conf linguist-language=INI

lazy-lock.json linguist-generated
